body {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

header {
    background-color: rgb(42, 41, 41);
}

.headermain {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px;
}

.headermain input {
    width: 60%;
    padding: 5px;
    border-radius: 10px;
}


.login {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.login h2 {
    color: white;
}

.login form {
    background-color: rgb(42, 41, 41);
    padding: 20px;
    border-radius: 10px;
    border: 4px solid white;
    max-width: 400px;
    width: 100%;
}

.login label {
    display: block;
    color: white;
    margin-bottom: 10px;
}

.login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login button {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    border: 2px solid white;
}


.login button:hover {
    background-color: rgb(42, 41, 41);
    color: white;
    border: 2px solid white;
}

.login a {

    width: 100%;
    padding: 10px;
    background-color: rgb(46, 46, 157);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;

}

.register {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.register h2 {
    color: white;
}

.register form {
    background-color: rgb(42, 41, 41);
    padding: 20px;
    border-radius: 10px;
    border: 4px solid white;
    max-width: 400px;
    width: 100%;
}

.register label {
    display: block;
    margin-bottom: 10px;
    color: white;
}

.register input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.register button {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    border: 2px solid white;
}


.register button:hover {
    background-color: rgb(42, 41, 41);
    color: white;
}

.register a {

    width: 100%;
    padding: 10px;
    background-color: rgb(46, 46, 157);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;

}

.logout {
    padding: 20px;
    background-color: white;
    color: rgb(46, 46, 157);
    border-radius: 20px;
    cursor: pointer;
}

.addproduct {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

}

.addproduct h2 {
    color: rgb(42, 41, 41);
}

.addproduct form {
    margin-top: 20%;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    border-radius: 10px;
    border: 4px solid rgb(42, 41, 41);
    max-width: 600px;
    width: 100%;
    height: 90vh;
}

.addproduct label {
    display: block;
    margin-bottom: 10px;
    color: rgb(42, 41, 41);
}

.addproduct input {
    width: 20%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.addproduct button {
    width: 100%;
    padding: 10px;
    background-color: rgb(42, 41, 41);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    border: 2px solid white;
}


.addproduct button:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.error {
    background-color: rgb(245, 145, 145);
    border-radius: 20px;
    border: 3px solid red;
    color: red;
    margin: 10px;
    padding: 10px;
}

.authlinks {
    display: flex;
    justify-content: space-between;
    width: 10%;

}

.authlinks a {
    color: white;
    border: 2px solid white;

    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}

.authlinks a:hover {
    color: black;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
}

.userinfo {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 20%;
    border-radius: 10px;
    padding: 10px;

}

.userinfo button {
    border: none;
    padding: 10px;

    border-radius: 10px;
    border: 2px solid white;
    background-color: rgb(42, 41, 41);
    color: white;
}

.userinfo button:hover {
    border: 2px solid rgb(42, 41, 41);
    background-color: white;
    cursor: pointer;
    color: black;
}

.userinfo .menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(42, 41, 41);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 200px;
    z-index: 1;
}

.userinfo .menu .menuuser {
    display: flex;
    justify-content: space-between;
}

.userinfo .menu a {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.home {
    background-color: rgb(230, 230, 230);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill);
}

.home a {
    margin: 20px;
    text-decoration: none;
}

.home hr {
    width: 100%;
    margin: 0 20px;
}

.filter{
    background-color: white;
    border-radius: 10px;
    padding:10px;
    margin:10px;
}
.filter select{
    border: 1px grey;
    margin:5px;
    border-radius: 10px;
}
.filter input {
    width: 30%;
    border-radius: 10px;
    padding:5px;
    justify-content: center;
    margin:auto;
}
.homecontent {
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
}

.productcard {
    border-radius: 5px;
    background-color: rgb(232, 230, 230);
    border: 1px solid grey;
    box-shadow: 1px 1px 3px;
    color: black;
    transition: transform 0.2s ease-in-out;
    z-index: 1;
}
.productcard:hover {
    transform: scale(1.05);
    z-index: 2;
}

.productcard img{
    width: 300px;
    height:150px;
    max-width: 100%;
    border-radius: 5px;
 }

 .tags{
    display: flex;
 }
 .tags p {
    border-radius: 10px;
    background-color: white;
    border: 1px solid grey;
    color:grey;
    margin:2px;
    padding:2px;
 }
 .imagep{
    width: 300px;
    height:150px;
    max-width: 100%;
    border-radius: 5px;
    text-align:center;
    align-items: center;
   
 }


.productcard p {
   
    text-align: right;
}
 
.productdetail{
    display: flex;
    flex-direction: column;
    margin:auto;
    max-width: 40%;
    background-color:rgb(230, 230, 230) ;
    border-radius: 10px;
    padding:10px;
}
.slideshow-container{
    display: flex;
   justify-content: center;

  
}
.slideshow-container button{
    border: none;

}
.slideshow-container button:hover{
    background-color: rgb(218, 218, 218);
    cursor:pointer
}
.slideshow-container img{
    width: 90%;
}
.productdetail img{
    height:400px;
  
}
